<mat-progress-bar *ngIf="isUpdating" mode="indeterminate"></mat-progress-bar>

<mat-card class="update-product-card">
  <h2>Update Product</h2>

  <form [formGroup]="productForm" (ngSubmit)="onUpdate()">
    <mat-form-field appearance="outline">
      <mat-label>Id</mat-label>
      <input type="text" matInput [formControl]="productForm.id" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        [formControl]="productForm.name"
        placeholder="Guitar"
        autocomplete="off"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input
        type="number"
        matInput
        [formControl]="productForm.price"
        placeholder="99.99"
        autocomplete="off"
      />
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">
      Update
    </button>
  </form>
</mat-card>
